services:
  dns:
    build: ./conf-dns
    container_name: dns-server
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    networks:
      - isp-interna

  portal:
    build: ./portal
    container_name: isp-portal
    networks:
      - isp-interna

  proxy:
    build: ./proxy
    container_name: isp-proxy
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
    depends_on:
      - portal
      #- webmail
      #- e-mail
    networks:
      - isp-interna
      - isp-cliente1-link
      - isp-cliente2-link  
      - isp-cliente3-link
  #e-mail:
    #build: ./email
    #container_name: email
    #image: email:pop
    #ports:
    #- "25:25/tcp"
    #- "587:587/tcp"
    #- "110:110/tcp"
    #- "995:995/tcp"
    #- "143:143/tcp"
    #- "993:993/tcp"
    #networks:
    #  - first_network
  
  #webmail:
    #build: ./webmail
    #container_name: webmail
    #image: webmail:pop
    #depends_on:
      #- e-mail
    #networks:
      #- first_network

networks:
  isp-interna:
    external: true
  isp-cliente1-link:
    external: true
  isp-cliente2-link:
    external: true
  isp-cliente3-link:
    external: true