services:
  dns:
    build: ./conf-dns
    container_name: dns-server
    image: dns-server:pop
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    networks:
      - first_network

  portal:
    build: ./portal
    container_name: portal
    image: portal:pop
    networks:
      - first_network

  proxy:
    build: ./proxy
    container_name: proxy
    image: server-proxy:pop
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
    volumes:
      - ./proxy/certs:/etc/nginx/ssl
    depends_on:
      - portal
    networks:
      - first_network
    
  e-mail:
    build: ./email
    container_name: email
    image: email:pop
    ports:
    - "25:25/tcp"
    - "587:587/tcp"
    networks:
      - first_network

  networks:
    first_network:
      driver: bridge
      