services:
  dns:
    build: ./conf-dns
    container_name: dns-server
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    networks:
      - isp-interna

  portal:
    build: ./portal
    container_name: isp-portal
    networks:
      - isp-interna

  proxy:
    build: ./proxy
    container_name: isp-proxy
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
    depends_on:
      - roundcubemail
      - roundcubedb
      - roundcubenginx
      - e-mail
    networks:
      - isp-interna
      - isp-cliente1-link
      - isp-cliente2-link  
      - isp-cliente3-link
  e-mail:
    build: ./email
    container_name: email
    ports:
    - "25:25/tcp"
    - "587:587/tcp"
    - "110:110/tcp"
    - "995:995/tcp"
    - "143:143/tcp"
    - "993:993/tcp"
    volumes:
      - maildata:/var/mail
    networks:
      - isp-interna

  roundcubemail:
    image: roundcube/roundcubemail:latest-fpm
    container_name: roundcubemail
    # restart: unless-stopped
    depends_on:
      - roundcubedb
    links:
      - roundcubedb
    volumes:
      - ./www:/var/www/html
    environment:
      - ROUNDCUBEMAIL_DB_TYPE=pgsql
      - ROUNDCUBEMAIL_DB_HOST=roundcubedb # same as pgsql container name
      - ROUNDCUBEMAIL_DB_NAME=roundcube # same as pgsql POSTGRES_DB env name
      - ROUNDCUBEMAIL_DB_USER=roundcube # same as pgsql POSTGRES_USER env name
      - ROUNDCUBEMAIL_DB_PASSWORD=roundcube # same as pgsql POSTGRES_PASSWORD env name
      - ROUNDCUBEMAIL_SKIN=elastic
      - ROUNDCUBEMAIL_DEFAULT_HOST=mail.asa.br
      - ROUNDCUBEMAIL_SMTP_SERVER=mail.asa.br
    networks:
      - isp-interna

  roundcubedb:
    image: postgres:16
    container_name: roundcubedb
    volumes:
     - ./db/postgres:/var/lib/postgresql/data
    environment:
     - POSTGRES_DB=roundcube
     - POSTGRES_USER=roundcube
     - POSTGRES_PASSWORD=roundcube
    networks:
      - isp-interna

  roundcubenginx:
    build: ./webmail
    container_name: roundcubenginx
    ports:
      - 9009:80
    depends_on:
      - roundcubemail
    volumes:
      - ./www:/var/www/html
      - ./nginx/templates:/etc/nginx/templates
    environment:
      - NGINX_HOST=192.168.0.106
      - NGINX_PHP_CGI=roundcubemail:9000
    networks:
      - isp-interna

networks:
  isp-interna:
    external: true
  isp-cliente1-link:
    external: true
  isp-cliente2-link:
    external: true
  isp-cliente3-link:
    external: true

volumes:
  maildata:
